Immutability means you cannot change
Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

In [1]:
name = "Sam"

If you wanted to change the str to 'Pam" you could not reassign it by running name[0] = "P"

In [2]:
x = name[1:3]

In [3]:
'P' + x

'Pam'

String concatenation

In [8]:
y = 'Hello'

In [9]:
y

'Hello'

In [10]:
y + ' World'

'Hello World'

you cannot concatenate a number with a string

In [11]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
2 + 3

5

"2" + "3" does not add them together but will concatenate them

In [13]:
"2" + "3"

'23'

String Methods

In [14]:
hi = "Hello World"

In [16]:
hi.lower()

'hello world'

In [17]:
hi.upper()

'HELLO WORLD'

the string has not changed so if you wanted it to you would have to reassign it

In [18]:
hi

'Hello World'

In [22]:
#this string method will lower case all the characters in a string
hi = hi.upper()

In [20]:
hi

'HELLO WORLD'

In [23]:
#this string method will split the items in the string based on white apces
hi.split()

['HELLO', 'WORLD']

In [24]:
ms = 'Mississippi'

In [25]:
#this string method with split the string on the specified character 'i'
ms.split("i")

['M', 'ss', 'ss', 'pp', '']